<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lightplugin.posun.com.lbsx64">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service
            android:name=".MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity
            android:name=".Main3Activity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity
            android:name=".WaiguaActivity"
            android:label="@string/title_activity_waigua"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>